<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="/static/index.css"/>
</head>
<body>
<div class="nav">
    <div class="nav-tab"><a href="/user/index">产品介绍</a></div>
    <div class="nav-tab"><a href="/user/produce">产品简介</a></div>
    <div class="nav-tab"><a href="/user/join">产品加盟</a></div>
</div>
<div class="index-container">
    <div class="index-container-pad">
        <div class="index-container-content">
            <div class="index-title">咻电共享充电宝简介，咻电，咻咻一下就满电！</div>
            <img  class="index-image" alt="" src="/static/images/index/4%20(30).jpg"/>
            <video class="index-image" style="width:667px;" controls="controls" preload="preload"  src="/static/images/audio/1.mp4"></video>
            <img  class="index-image" alt="" src="/static/images/index/4%20(1).jpg"/>
            <img  class="index-image" alt="" src="/static/images/index/4%20(2).jpg"/>
            <img  class="index-image" alt="" src="/static/images/index/4%20(3).jpg"/>
            <img  class="index-image" alt="" src="/static/images/index/4%20(4).jpg"/>
            <img  class="index-image" alt="" src="/static/images/index/4%20(5).jpg"/>
            <img  class="index-image" alt="" src="/static/images/index/4%20(6).jpg"/>
            <img  class="index-image" alt="" src="/static/images/index/4%20(7).jpg"/>
            <img  class="index-image" alt="" src="/static/images/index/4%20(29).jpg"/>
            <img  class="index-image" alt="" src="/static/images/index/4%20(8).jpg"/>
            <img  class="index-image" alt="" src="/static/images/index/4%20(9).jpg"/>
            <img  class="index-image" alt="" src="/static/images/index/4%20(10).jpg"/>
            <img  class="index-image" alt="" src="/static/images/index/4%20(11).jpg"/>
            <div class="content-text content-text1 color-black">
                <p>手机电量真的能撑一天吗？</p>
                <p>经调查，63.7%的使用者表示</p>
                <p><span class="color-blue">电池续航能力</span>是手机最大的问题。</p>
            </div>
            <div class="content-text color-red">
                <p>咻电智能充电宝租赁终端，2018年真正地颠覆传统充电宝行业，实现智能快充，让用户不再出门随身携带充电宝，支持国内所有机型，通过小程序借用方便快捷！</p>
            </div>
            <div class="content-text color-black">
                <p>咻电不仅是一款使用方便、充电迅速、质量过硬的共享充电宝，更是一款多功能、多用途、多盈利的社交场景平台，智能广告投放系统+智能营销系统+OA管理系统+共享互联网+经济，让这款产品更有市场潜力，更有发展投资潜力。</p>
            </div>
            <img  class="index-image" alt="" src="/static/images/index/4%20(28).jpg"/>
            <img  class="index-image" alt="" src="/static/images/index/4%20(12).jpg"/>
            <img  class="index-image" alt="" src="/static/images/index/4%20(13).jpg"/>
            <img  class="index-image" alt="" src="/static/images/index/4%20(14).jpg"/>
            <img  class="index-image" alt="" src="/static/images/index/4%20(15).jpg"/>
            <div class="produce-title">产品认证</div>
            <div class="double-img">
                <img  class="produce-img" alt="" src="/static/images/index/4%20(19).jpg"/>
                <img  class="produce-img" alt="" src="/static/images/index/4%20(20).jpg"/>
            </div>
            <img  class="produce-img" alt="" src="/static/images/index/4%20(21).jpg"/>
            <div class="double-img">
                <img  class="produce-img" alt="" src="/static/images/index/4%20(19).jpg"/>
                <img  class="produce-img" alt="" src="/static/images/index/4%20(20).jpg"/>
            </div>
            <img  class="produce-img" alt="" src="/static/images/index/4%20(21).jpg"/>
            <div class="double-img">
                <img  class="produce-img" alt="" src="/static/images/index/4%20(22).jpg"/>
                <img  class="produce-img" alt="" src="/static/images/index/4%20(23).jpg"/>
            </div>
            <img  class="produce-img" alt="" src="/static/images/index/4%20(24).jpg"/>
            <div class="double-img">
                <img  class="produce-img" alt="" src="/static/images/index/4%20(25).jpg"/>
                <img  class="produce-img" alt="" src="/static/images/index/4%20(26).jpg"/>
            </div>
            <img  class="produce-img" alt="" src="/static/images/index/4(31).webp"/>
            <img  class="produce-img" alt="" src="/static/images/index/4%20(27).jpg"/>
            <p class="content-text color-black">
                公司拥有百人客服团队为您全程售前、售中、售后服务，完善的售后服务体系，让用户使用放心、让投资者更安心。
            </p>
            <p class="content-text color-black">
                震撼整个市场的组合拳政策，碾压式的市场强势占领，抢占先机！
            </p>
            <img  class="index-image" alt="" src="/static/images/index/1.webp"/>
            <img  class="index-image" alt="" src="/static/images/index/4%20(12).jpg"/>
            <img  class="index-image" alt="" src="/static/images/index/2.webp"/>
            <img  class="index-image" alt="" src="/static/images/index/3.webp"/>
            <img  class="index-image" alt="" src="/static/images/index/4.webp"/>
            <p class="text-black text-weight">我们的产品优势</p>
            <p class="text-black text-weight">一、商户收单系统</p>
            <p class="text-black"> 在满足消费者充电的同时为店家提供完整的收单系统，提高消费体验度。</p>
            <p class="text-black text-weight">二、商家营销运营管理系统</p>
            <p class="text-black">自定义活动及推广功能，店家只需打开后台就能随时随地开启促销活动。</p>
            <p class="text-black text-weight">三、OA管理系统+精准广告</p>
            <p class="text-black">收入明细一目了然，智能分析对症下药快速管理您的店铺，大数据精准广告投放提高广告传播率。</p>
            <p class="text-black text-weight">四、人体工学设计</p>
            <p class="text-black">造型时尚，追求前沿科技美感及手感，实用与艺术的完美结合。</p>
            <p class="text-black text-weight">五、随借随还</p>
            <p class="text-black">咻电，更便捷的共享充电宝， 支持异地借还操作。</p>
            <p class="text-black text-weight">六、电池安全可靠</p>
            <p class="text-black">专业把控专业测试，电池安全可靠，使用阻燃材料更安全。</p>
            <p class="text-black text-weight">七、充电更快的共享充电宝</p>
            <p class="text-black">集成多种标准快充协（QC/PD2.0&3.0、FCP、AFC、SFCP、MTK PE+1.1&2.0 等)</p>
            <p class="text-black text-weight">八、采用4G网络，拒绝延迟</p>
            <p class="text-black">我们采用4G网络，针对大多数使用2G网络，网络超时率高，设备容易断线，我们用4G网络，设备在线率和网络数据传输率高。</p>
            <p class="text-black text-weight">九、资金安全，放心充电</p>
            <p class="text-black">智能计时系统拒绝客户与商户发生纠纷，提高用户体验。</p>
            <p class="text-black text-weight">十、支持手机主流充电头</p>
            <p class="text-black">充电线反复使用率高，耐用，不容易坏， 支持苹果，安卓，Type-c。</p>
            <p class="text-black text-weight">十一、独立技术支持</p>
            <p class="text-black">具有完全自主知识产权，设备结构、电池结构和槽位设计都自主设计，已经申报专利。</p>
            <p class="text-black text-weight">十二、支持所有场景应用</p>
            <p class="text-black">酒店，餐厅，酒吧，机场，商场，KTV，电影院，景区等。</p>
            <img  class="index-image" alt="" src="/static/images/index/8.jpg"/>
            <img  class="index-image" alt="" src="/static/images/index/5.jpg"/>
            <img  class="index-image" alt="" src="/static/images/index/6.jpg"/>
            <img  class="index-image" alt="" src="/static/images/index/7.jpg"/>
        </div>
    </div>
</div>
</body>
</html>