<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="/static/index.css"/>

</head>
<body>
<div class="nav">
    <div class="nav-tab"><a href="/user/indexB">产品介绍</a></div>
    <div class="nav-tab"><a href="/user/produceB">产品简介</a></div>
    <div class="nav-tab"><a href="/user/joinB">产品加盟</a></div>
</div>
<div class="index-container">
    <div class="produce-container-pad">
        <div class="produce-content">
            <p class="produce-title">产品加盟</p>
            <img style="border: #333 solid 1px; " class="index-image" alt="" src="/static/images/join/1.jpg"/>
            <img  class="index-image" alt="" src="/static/images/join/2.jpg"/>
        </div>
    </div>
</div>
</body>
</html>