<!DOCTYPE html>
<html>
    <head>
        <title>登陆页面</title>
         <meta charset="utf-8">
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-touch-fullscreen" content="yes">
        <meta http-equiv="Access-Control-Allow-Origin" content="*">
        <link href="/static/js/css/login.css" type="text/css" rel="stylesheet">
        <link href="/static/js/css/global.css" type="text/css" rel="stylesheet">
        <script type="text/javascript" src="/static/js/jquery.min.js"></script>
        <script type="text/javascript" src="/static/js/login.js"></script>
    </head>
    <body>
        <div class="login">
            <div class="login-title"><p><!--登录--></p>
                <i></i>
            </div>

            <form>
            <div class="login-bar">
                <ul>
                    <li><img src="/static/js/images/login_user.png"><input type="text" id="phone" name="phone"  class="text" placeholder="手机号" /></li>
                    <li><img src="/static/js/images/login_pwd.png"><input type="password" class="psd" id="password"  name="password"  placeholder="输入密码" /></li>
                </ul>
            </div>
            <div class="login-btn">
                <button class="submit" type="submit" id="postBtn">登陆</button>
                <a href="/user/userRegB"><div class="login-reg"><p>没有账号，先注册</p></div></a>
            </div>
            </form>
        </div>
		<div style="text-align:center;">


            <script>
                var user=document.getElementsByTagName('input')[0];
                var pass=document.getElementsByTagName('input')[1];
                var localuser=localStorage.getItem('user');
                var localpass=localStorage.getItem('pass');
                if(localuser !==''&&localpass!==''){
                    console.log('getlocalstorage'+localuser+localpass)
                     user.value=localuser;
                     pass.value=localpass;

                }else{

                }
                $("#postBtn").click(function(e){
                    e.preventDefault();
                    $.ajax({
                        type:'POST',
                        dataType: "json",
                        url:"../user/login",
                        data:{
                            phone:$("#phone").val(),
                            password:$("#password").val()
                        },
                        success:function(res){
                            if (res.code == 0) {
                                console.log(user.value,pass.value);
                                localStorage.setItem('user', user.value);
                                localStorage.setItem('pass', pass.value);
                                console.log('setlocalStorage'+localStorage.getItem('user'))
                                alert("欢迎加入咻电充电宝");
                                window.location.href="/user/indexB";
                            }else {
                                alert("用户名或密码错误")
                            }
                        },
                        error:function(){
                            alert("登陆失败");
                        }
                    });
                })

            </script>


</div>

    </body>
</html>