<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="/static/index.css"/>
</head>
<body>
<div class="nav">
    <div class="nav-tab"><a href="/user/indexB">产品介绍</a></div>
    <div class="nav-tab"><a href="/user/produceB">产品简介</a></div>
    <div class="nav-tab"><a href="/user/joinB">产品加盟</a></div>
</div>
<div class="index-container">
    <div class="produce-container-pad">
        <div class="produce-content">
            <p class="produce-title">喜报！！！喜报！！！喜报！！！</p>
            <p class="text-black">短短的一个月内，咻电在河南省已经占领了多个地区</p>
            <p class="text-black">咻电，咻咻一下就满电！</p>
            <p class="text-black"><span style="background-color: rgb(115, 252, 214);">在郑州、安阳、新乡、洛阳、焦作、深圳、广州等地咻电共享充电宝已经走进了各大商铺，得到了商铺和用户的支持和认可。</span></p>
            <img  class="index-image" alt="" src="/static/images/produce/1%20(3).jpg"/>
            <img  class="index-image" alt="" src="/static/images/produce/1%20(4).jpg"/>
            <img  class="index-image" alt="" src="/static/images/produce/1%20(5).jpg"/>
            <p class="produce-text">咻电，1元钱的大财富！</p>
            <p class="produce-text">咻电共享充电宝，一机多用万能充电头，满足用户的不同充电需求：</p>
            <p class="produce-text">每天10人充电3小时，1元每小时，一台一天赚30元，一个月赚900，</p>
            <p class="produce-text">投资1台每月的烟钱有了；</p>
            <p class="produce-text">投资2台每月的房租费有了；</p>
            <p class="produce-text">投资5台每月的车贷有了；</p>
            <p class="produce-text">投资20台每天不用风吹日晒去上班了；</p>
            <p class="produce-text">投资50台每天都能出去旅游、购物了；</p>
            <p class="produce-text">......</p>
            <img  class="index-image" alt="" src="/static/images/produce/1%20(2).jpg"/>
            <p class="text-black">“蛋糕很大”但找对投资公司与产品很重要</p>
            <p class="text-black">1. 公司是否拥有专利技术</p>
            <p class="text-black">2. 公司是否拥有3C认证</p>
            <p class="text-black">3. 公司是否拥有计算机软件著作权</p>
            <p class="text-black">4. 产品是否支持芝麻信用免押金</p>
            <p class="text-black">5. 充电宝是否支持3种充电头</p>
            <p class="text-black">6. 充电宝归还后是否自动退还押金</p>
            <p class="text-black">7. 充电平台：是否支持广告投放、是否支持会员管理功能等其他多种营销功能，对于商家而言，若平台有多种营销功能，以广告投放功能为例，商家可利用独立后台投放广告帮助商家快速精准引流，提升商家服务质量提升整体收益。对于消费者而言，平台是否能给消费者除充电便利的其他优惠也是必不可少的。投资者更看重市场占领与公司实力，公司实力强有专业售后培训与专业营销推广运营团队才能帮助自己快速占领市场，公司拥有专业售后客服才能为自己解决售后之忧，公司拥有专业技术研发中心才能不断更新升级产品功能增加市场竞争力获得更多盈利。</p>
            <p  class="text-black">......</p>
            <p class="text-black">简而言之，只有区别于传统共享充电宝，新的共享充电宝品牌才能在行业内脱颖而出。</p>
            <p class="text-black">咻电，咻咻一下就满电，不止于充电。</p>
            <img  class="index-image" alt="" src="/static/images/produce/1%20(1).jpg"/>
            <img  class="index-image" alt="" src="/static/images/produce/1%20(6).jpg"/>
        </div>
    </div>
</div>
</body>
</html>